

.form_data {
	max-width: 450px;
	margin: 8px auto;
	padding: 40px;
	border: 1px solid rgb(172, 170, 170);
	border-radius: 4px;
}

.form_heading {
	text-align: center;
	margin-bottom: 5px;
}

form {
	display: flex;
	flex-direction: column;
}

.form_input {
	margin-bottom: 10px;
}

label {
	font-size: 16px;
	margin-bottom: 8px;
}

input {
	padding: 10px;
	font-size: 14px;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
}
input, .menu {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus,
select:focus {
  border-color: #3255ff;
}
select option {
  font-size: 15px;
}

.btn {
	background-color: #3255ff;
	color: #fff;
	padding: 12px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
    margin-top: 15px;
}

/* Responsive styling */
@media (max-width: 768px) {
	.form_data {
		padding: 20px;
	}
}
